MidPointPasswordFilterProcessor/Service References/MidpointModel3WebService/common-case-management-3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://midpoint.evolveum.com/xml/ns/public/common/common-3" xmlns:q="http://prism.evolveum.com/xml/ns/public/query-3" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:t="http://prism.evolveum.com/xml/ns/public/types-3" xmlns:a="http://prism.evolveum.com/xml/ns/public/annotation-3" xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" xmlns:c="http://midpoint.evolveum.com/xml/ns/public/common/common-3" elementFormDefault="qualified" targetNamespace="http://midpoint.evolveum.com/xml/ns/public/common/common-3" jaxb:extensionBindingPrefixes="xjc" jaxb:version="2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="../annotation-3.xsd" namespace="http://prism.evolveum.com/xml/ns/public/annotation-3" />
  <xsd:import schemaLocation="../types-3.xsd" namespace="http://prism.evolveum.com/xml/ns/public/types-3" />
  <xsd:import schemaLocation="../query-3.xsd" namespace="http://prism.evolveum.com/xml/ns/public/query-3" />
  <xsd:include schemaLocation="common-core-3.xsd" />
  <xsd:annotation>
    <xsd:documentation>
            TODO
        </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="CaseType">
    <xsd:annotation>
      <xsd:documentation>
                TODO
            </xsd:documentation>
      <xsd:appinfo>
        <a:object xmlns:a="http://prism.evolveum.com/xml/ns/public/annotation-3" />
        <a:since>3.6</a:since>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="c:ObjectType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="objectRef" type="c:ObjectReferenceType">
            <xsd:annotation>
              <xsd:documentation>
                                Object that the case is associated with. It might be e.g. resource, if the case
                                deals with creation of an account on that resource.
                                EXPERIMENTAL. May change in future.
                            </xsd:documentation>
              <xsd:appinfo>
                <a:since>3.7</a:since>
                <a:experimental>true</a:experimental>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="state" type="xsd:anyURI">
            <xsd:annotation>
              <xsd:documentation>
                                TODO
                            </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="outcome" type="xsd:anyURI">
            <xsd:annotation>
              <xsd:documentation>
                                TODO
                            </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="closeTimestamp" type="xsd:dateTime">
            <xsd:annotation>
              <xsd:documentation>
                                When was this case closed?
                                (Note that the creation timestamp is present in the object metadata.)
                            </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="event" type="c:CaseEventType">
            <xsd:annotation>
              <xsd:documentation>
								Events that occurred during lifetime of this process instance.
							</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="workItem" type="c:CaseWorkItemType">
            <xsd:annotation>
              <xsd:documentation>
                                TODO
                            </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="case" type="c:CaseType" />
  <xsd:complexType name="AbstractWorkItemType">
    <xsd:annotation>
      <xsd:documentation>
                Common superclass for workflow (approval) work item, certification work item and case management work item.
            </xsd:documentation>
      <xsd:appinfo>
        <a:container />
        <a:since>3.6</a:since>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                        Descriptive name of the work item. E.g. "Assign role1 to user1".
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="stageNumber" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
                        Number of the stage this work item is part of.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="createTimestamp" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>
                        When was this work item created?
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="deadline" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>
                        When is this work to be done? May be moved via escalation(s).
                    </xsd:documentation>
          <xsd:appinfo>
            <a:since>3.6</a:since>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="originalAssigneeRef" type="c:ObjectReferenceType">
        <xsd:annotation>
          <xsd:documentation>
                        Original assignee for this work item.
                    </xsd:documentation>
          <xsd:appinfo>
            <a:objectReferenceTargetType>tns:UserType</a:objectReferenceTargetType>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="assigneeRef" type="c:ObjectReferenceType">
        <xsd:annotation>
          <xsd:documentation>
                        Users to which the work item is assigned. Other users do not see such a work item in their work lists.
                        Normally the work item is assigned to a single user. However, when delegating (directly or via escalation)
                        more assignees could be added.
                    </xsd:documentation>
          <xsd:appinfo>
            <a:objectReferenceTargetType>tns:UserType</a:objectReferenceTargetType>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="candidateRef" type="c:ObjectReferenceType">
        <xsd:annotation>
          <xsd:documentation>
                        Users and abstract roles to which the work item MAY BE assigned.
                    </xsd:documentation>
          <xsd:appinfo>
            <a:objectReferenceTargetType>tns:FocusType</a:objectReferenceTargetType>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="performerRef" type="c:ObjectReferenceType">
        <xsd:annotation>
          <xsd:documentation>
                        User who actually executed (completed) this work item.
                    </xsd:documentation>
          <xsd:appinfo>
            <a:objectReferenceTargetType>tns:UserType</a:objectReferenceTargetType>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="escalationLevel" type="c:WorkItemEscalationLevelType">
        <xsd:annotation>
          <xsd:documentation>
                        TODO
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="output" type="c:AbstractWorkItemOutputType">
        <xsd:annotation>
          <xsd:documentation>
                        Work item output (if any).
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="closeTimestamp" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>
                        When was this work item closed. (If null, it is considered open.)
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:long" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="AbstractWorkItemOutputType">
    <xsd:annotation>
      <xsd:documentation>
                TODO
            </xsd:documentation>
      <xsd:appinfo>
        <a:container />
        <a:since>3.6</a:since>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="outcome" type="xsd:anyURI" />
      <xsd:element minOccurs="0" name="comment" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CaseWorkItemType">
    <xsd:annotation>
      <xsd:documentation>
                A work item for a (generic) case.
            </xsd:documentation>
      <xsd:appinfo>
        <a:container />
        <a:since>3.6</a:since>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="c:AbstractWorkItemType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CaseEventType">
    <xsd:annotation>
      <xsd:documentation>
                Any event occurring during case lifetime that needs to be recorded, e.g. an action done by a user.
            </xsd:documentation>
      <xsd:appinfo>
        <a:since>3.6</a:since>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="timestamp" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>
                        Time in which the event occurred.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="initiatorRef" type="c:ObjectReferenceType">
        <xsd:annotation>
          <xsd:documentation>
                        Initiator is the (legal) entity on behalf of whom is the action executed.
                        When completing the work item in "attorney mode" the initiator is the user
                        under which authority was the work item approved.
                    </xsd:documentation>
          <xsd:appinfo>
            <a:objectReferenceTargetType>tns:UserType</a:objectReferenceTargetType>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="attorneyRef" type="c:ObjectReferenceType">
        <xsd:annotation>
          <xsd:documentation>
                        Attorney is the (physical) user who have executed the action.
                        This is the user that have logged-in to the user interface. This is the
                        user that pressed the button to execute the action. This is always identity
                        of a user and it will always be a user. It cannot be a company or any other
                        virtual entity.
                    </xsd:documentation>
          <xsd:appinfo>
            <a:objectReferenceTargetType>tns:UserType</a:objectReferenceTargetType>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="stageNumber" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
                        Number of the stage at which this event occurred (if the case resolution can be conceptually divided into stages).
                        Starts at 1. Null if not applicable.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WorkItemEventCauseInformationType">
    <xsd:annotation>
      <xsd:appinfo>
        <a:since>3.6</a:since>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="type" type="c:WorkItemEventCauseTypeType" />
      <xsd:element minOccurs="0" name="name" type="xsd:string" />
      <xsd:element minOccurs="0" name="displayName" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="WorkItemEventCauseTypeType">
    <xsd:annotation>
      <xsd:documentation>
                Type of event cause.
            </xsd:documentation>
      <xsd:appinfo>
        <jaxb:typesafeEnumClass xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" />
        <a:since>3.6</a:since>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="userAction">
        <xsd:annotation>
          <xsd:documentation>
                        This event was caused by a user action.
                    </xsd:documentation>
          <xsd:appinfo>
            <jaxb:typesafeEnumMember name="USER_ACTION" />
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="timedAction">
        <xsd:annotation>
          <xsd:documentation>
                        This event was caused by a timed action.
                    </xsd:documentation>
          <xsd:appinfo>
            <jaxb:typesafeEnumMember name="TIMED_ACTION" />
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="WorkItemEventType">
    <xsd:annotation>
      <xsd:documentation>
                Process event related to a specific work item.
            </xsd:documentation>
      <xsd:appinfo>
        <a:since>3.6</a:since>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="c:CaseEventType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="workItemId" type="xsd:long">
            <xsd:annotation>
              <xsd:documentation>
                                MidPoint container ID of the work item.
                            </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="externalWorkItemId" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                                Activiti ID of the work item (activiti task) this event is related to. Null for
                                work items that have no external representation (i.e. they are present in midPoint repo only).
                            </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="originalAssigneeRef" type="c:ObjectReferenceType">
            <xsd:annotation>
              <xsd:documentation>
                                User to which this work item was originally assigned.
                            </xsd:documentation>
              <xsd:appinfo>
                <a:objectReferenceTargetType>tns:UserType</a:objectReferenceTargetType>
                <a:since>3.6</a:since>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="escalationLevel" type="c:WorkItemEscalationLevelType">
            <xsd:annotation>
              <xsd:documentation>
                                TODO
                            </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="cause" type="c:WorkItemEventCauseInformationType">
            <xsd:annotation>
              <xsd:documentation>
                                Cause of the event occurring. E.g. user action, timed action (and which one).
                                EXPERIMENTAL; TO BE DECIDED ABOUT THIS BEFORE 3.6 RELEASE
                            </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WorkItemCompletionEventType">
    <xsd:annotation>
      <xsd:documentation>
                Event describing the work item completion.
            </xsd:documentation>
      <xsd:appinfo>
        <a:since>3.6</a:since>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="c:WorkItemEventType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="output" type="c:AbstractWorkItemOutputType" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WorkItemDelegationEventType">
    <xsd:annotation>
      <xsd:documentation>
                Event describing the fact of delegation.
            </xsd:documentation>
      <xsd:appinfo>
        <a:since>3.6</a:since>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="c:WorkItemEventType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="assigneeBefore" type="c:ObjectReferenceType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="delegatedTo" type="c:ObjectReferenceType" />
          <xsd:element minOccurs="0" name="delegationMethod" type="c:WorkItemDelegationMethodType" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WorkItemEscalationEventType">
    <xsd:annotation>
      <xsd:documentation>
                Event describing the fact of escalation.
            </xsd:documentation>
      <xsd:appinfo>
        <a:since>3.6</a:since>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="c:WorkItemDelegationEventType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="newEscalationLevel" type="c:WorkItemEscalationLevelType">
            <xsd:annotation>
              <xsd:documentation>
                                TODO
                            </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StageCompletionEventType">
    <xsd:annotation>
      <xsd:documentation>
                Event describing the completion of a workflow process instance stage.
            </xsd:documentation>
      <xsd:appinfo>
        <a:since>3.6</a:since>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="c:CaseEventType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="outcome" type="xsd:anyURI" />
          <xsd:element minOccurs="0" name="automatedDecisionReason" type="c:AutomatedCompletionReasonType">
            <xsd:annotation>
              <xsd:documentation>
                                Reason for automated decision, if applicable.
                            </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="AutomatedCompletionReasonType">
    <xsd:annotation>
      <xsd:documentation>
                Reason for automated decision.
            </xsd:documentation>
      <xsd:appinfo>
        <jaxb:typesafeEnumClass />
        <a:since>3.6</a:since>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="autoCompletionCondition">
        <xsd:annotation>
          <xsd:documentation>
                        Completed automatically by the auto-completion or auto-approval condition.
                    </xsd:documentation>
          <xsd:appinfo>
            <jaxb:typesafeEnumMember name="AUTO_COMPLETION_CONDITION" />
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="noAssigneesFound">
        <xsd:annotation>
          <xsd:documentation>
                        Completed automatically because there were no assignees found.
                    </xsd:documentation>
          <xsd:appinfo>
            <jaxb:typesafeEnumMember name="NO_ASSIGNEES_FOUND" />
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CaseCompletionEventType">
    <xsd:annotation>
      <xsd:documentation>
                Event describing the completion of a workflow process instance.
            </xsd:documentation>
      <xsd:appinfo>
        <a:since>3.6</a:since>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="c:CaseEventType">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CaseCreationEventType">
    <xsd:annotation>
      <xsd:documentation>
                Event describing the creation of a workflow process instance.
            </xsd:documentation>
      <xsd:appinfo>
        <a:since>3.6</a:since>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="c:CaseEventType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="businessContext" type="c:OperationBusinessContextType">
            <xsd:annotation>
              <xsd:documentation>
                                Business context of the operation, if provided.
                                TODO move to CaseEventType?
                            </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WorkItemEscalationLevelType">
    <xsd:annotation>
      <xsd:documentation>
                Description of an escalation level the processing is at.
            </xsd:documentation>
      <xsd:appinfo>
        <a:since>3.6</a:since>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="number" type="xsd:int" />
      <xsd:element minOccurs="0" name="name" type="xsd:string" />
      <xsd:element minOccurs="0" name="displayName" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WorkItemTimedActionsType">
    <xsd:annotation>
      <xsd:documentation>
				Actions that should be applied to a work item in given moments (relative to work item creation
				or work item deadline).
			</xsd:documentation>
      <xsd:appinfo>
        <a:since>3.6</a:since>
        <a:container />
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
						Name given to this "timed actions" entry.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="displayName" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
						Display name given to this "timed actions" entry.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
						Description of this "timed actions" entry.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="time" type="c:TimedActionTimeSpecificationType">
        <xsd:annotation>
          <xsd:documentation>
						Time(s) at which these actions are to be executed. No time or zero time means they are executed
						at the work item deadline.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" name="actions" type="c:WorkItemActionsType">
        <xsd:annotation>
          <xsd:documentation>
						What actions to execute.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="condition" type="c:ExpressionType">
        <xsd:annotation>
          <xsd:documentation>
						Should these actions be scheduled?
						NOT IMPLEMENTED YET.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="escalationLevelFrom" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
						Apply only if current escalation level is greater or equal to this value.
						If both escalationLevelFrom and escalationLevelTo are missing, they are considered both to be 0.
						If only escalationLevelFrom is missing, it is considered 0 (i.e. no restriction).
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="escalationLevelTo" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
						Apply only if current escalation level is not greater than this value.
						If both escalationLevelFrom and escalationLevelTo are missing, they are considered both to be 0.
						If only escalationLevelTo is missing, it is considered "infinity" (i.e. no restriction).
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WorkItemActionsType">
    <xsd:annotation>
      <xsd:documentation>
				Actions to execute.
			</xsd:documentation>
      <xsd:appinfo>
        <a:since>3.6</a:since>
        <a:container />
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="complete" type="c:CompleteWorkItemActionType">
        <xsd:annotation>
          <xsd:documentation>
						Complete this work item with a given result.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="notify" type="c:WorkItemNotificationActionType">
        <xsd:annotation>
          <xsd:documentation>
						Send a notification.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="delegate" type="c:DelegateWorkItemActionType">
        <xsd:annotation>
          <xsd:documentation>
						Delegate this work item.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="escalate" type="c:EscalateWorkItemActionType">
        <xsd:annotation>
          <xsd:documentation>
						Escalate this work item. Basically the same as "delegate" but increases the escalation level.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AbstractWorkItemActionType">
    <xsd:annotation>
      <xsd:documentation>
				TODO
				EXPERIMENTAL
			</xsd:documentation>
      <xsd:appinfo>
        <a:since>3.6</a:since>
        <a:container />
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="name" type="xsd:string" />
      <xsd:element minOccurs="0" name="displayName" type="xsd:string" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="condition" type="c:ExpressionType">
        <xsd:annotation>
          <xsd:documentation>
						Should this action be executed?
						NOT IMPLEMENTED YET
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CompleteWorkItemActionType">
    <xsd:annotation>
      <xsd:documentation>
				TODO
				EXPERIMENTAL
			</xsd:documentation>
      <xsd:appinfo>
        <a:since>3.6</a:since>
        <a:container />
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="c:AbstractWorkItemActionType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="outcome" type="xsd:anyURI" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="notifyBeforeAction" type="xsd:duration">
            <xsd:annotation>
              <xsd:documentation>
								If specified, sends a standard "action to be executed" notifications at given times.
								(Unlike in timed action interval, here a positive time must be specified: just like for
								notifyBeforeDeadline in certification.)
								TODO other time units, like business days?
							</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WorkItemNotificationActionType">
    <xsd:annotation>
      <xsd:documentation>
				TODO
				EXPERIMENTAL
			</xsd:documentation>
      <xsd:appinfo>
        <a:since>3.6</a:since>
        <a:container />
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="c:AbstractWorkItemActionType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="perAssignee" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>
								If true (the default) creates one notification event for each assignee. Otherwise,
								creates a single notification event for the whole work item.
							</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="handler" type="c:EventHandlerType">
            <xsd:annotation>
              <xsd:documentation>
								Ad-hoc event handler that will be used to process these event emitted. In addition to it,
								a system-wide handler for workItemCustomEvent will be invoked.
							</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DelegateWorkItemActionType">
    <xsd:annotation>
      <xsd:documentation>
				TODO
				EXPERIMENTAL
			</xsd:documentation>
      <xsd:appinfo>
        <a:since>3.6</a:since>
        <a:container />
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="c:AbstractWorkItemActionType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="approverRef" type="c:ObjectReferenceType">
            <xsd:annotation>
              <xsd:documentation>
								Specific approver to replace the current one.
							</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="approverExpression" type="c:ExpressionType">
            <xsd:annotation>
              <xsd:documentation>
								Expression giving an approver to replace the current one.
							</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="outcomeIfNoApprovers" type="xsd:anyURI">
            <xsd:annotation>
              <xsd:documentation>
								What is the outcome (of this work item) if there is no approver to delegate/escalate to?
							</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="duration" type="xsd:duration">
            <xsd:annotation>
              <xsd:documentation>
								Duration of the work item after delegation. If not specified, the deadline of the work item
								is not changed (this is meaningful only if the delegation occurs before the original deadline).
								TODO other time units, like business days?
								TODO relative to original start time, original deadline, or current time?
							</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="delegationMethod" type="c:WorkItemDelegationMethodType">
            <xsd:annotation>
              <xsd:documentation>
								How to delegate the work item? Default is "replace assignees".
							</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="notifyBeforeAction" type="xsd:duration">
            <xsd:annotation>
              <xsd:documentation>
								If specified, sends a standard "action to be executed" notifications at given times.
								(Unlike in timed action interval, here a positive time must be specified: just like for
								notifyBeforeDeadline in certification.)
								TODO other time units, like business days?
							</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EscalateWorkItemActionType">
    <xsd:annotation>
      <xsd:documentation>
				TODO
				EXPERIMENTAL
			</xsd:documentation>
      <xsd:appinfo>
        <a:since>3.6</a:since>
        <a:container />
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="c:DelegateWorkItemActionType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="escalationLevelName" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
								Name for the new escalation level.
							</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="escalationLevelDisplayName" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
								Display name for the new escalation level.
							</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="WorkItemDelegationMethodType">
    <xsd:annotation>
      <xsd:documentation>
				How the delegation should be realized.
			</xsd:documentation>
      <xsd:appinfo>
        <jaxb:typesafeEnumClass />
        <a:since>3.6</a:since>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="addAssignees">
        <xsd:annotation>
          <xsd:documentation>
						Delegate(s) should be added as new assignees, keeping original assignees and original candidates.
					</xsd:documentation>
          <xsd:appinfo>
            <jaxb:typesafeEnumMember name="ADD_ASSIGNEES" />
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="replaceAssignees">
        <xsd:annotation>
          <xsd:documentation>
						Delegate(s) should replace existing assignee(s). Candidates are removed.
					</xsd:documentation>
          <xsd:appinfo>
            <jaxb:typesafeEnumMember name="REPLACE_ASSIGNEES" />
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>